
<!DOCTYPE html>
<html>
    <head>
        <!--configuraciones Metadatos-->
        <!-- CSS -->
        <link rel= "stylesheet" href = "/css/estilos-generales.css">
        <!-- href = "http://localhost:3001/css/estilos-generales.css" -->
    </head>
    <body>
        <p> hola <%= nombre%>!</p>
        <!-- contenido HTML -->
        <!-- SCRIPTS -->
        <script
            src = "/js/logica-general.js">
        </script>
    </body>
</html>

<!--<raiz>-->
<!--    <universidad>-->
<!--        <facultad atributo = "valor"-->
<!--        propiedad = "valor">-->
<!--            Sistemas-->
<!--        </facultad>-->
<!--        <facultad>-->
<!--            mecanica-->
<!--        </facultad>-->
<!--    </universidad>-->
<!--    <universidad>-->
<!--        <facultad>Administracion</facultad>-->
<!--        <facultad>Finanzas</facultad>-->
<!--    </universidad>-->

<!--</raiz>-->